@model JEVEGA_Us_Cliniic.PatientExam

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<table class="table_clinic_pageheader">
<tr>
    <td><h3>Patient Exam Details</h3></td>
    <td align="right"></td>
</tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table table-bordered">
    <tr>
        <td align="right">
            <input type="button" value="Back To List" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "PatientExam") + "'");" />
            &nbsp;
            <input type="button" value="Print Report" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("PrintExamReport\\"+Model.Id, "PatientExam") + "'");" />
            &nbsp;
            <input type="button" value="Print Images" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("PrintExamImages\\"+Model.Id, "PatientExam") + "'");" />
        </td>
    </tr>
    </table>

    <div>

        <table class="table_clinic">
            <tr><td colspan="4"><div class="line_space"></div></td></tr>
            <tr>
                <td><span class="report_fieldvalue_01">@Html.LabelFor(model => model.ExamDate)</span></td>
                <td colspan="3">
                    <span class="report_fieldvalue_01">@Html.DisplayFor(model => model.formattedExamDate)</span>
                </td>
            </tr>
            <tr><td colspan="4"><div class="line_space"></div></td></tr>
            <tr>
                <td><span class="report_fieldvalue_01">@Html.LabelFor(model => model.PatientID)</span></td>
                <td><span class="report_fieldvalue_01">@Html.DisplayFor(model => model.getPatientIdName)</span></td>

                <td><span class="report_fieldvalue_01">@Html.LabelFor(model => model.ExamType)</span></td>
                <td><span class="report_fieldvalue_01">@Html.DisplayFor(model => model.getExamName)</span></td>
            </tr>

            <tr>
                <td><span class="report_fieldvalue_01">@Html.LabelFor(model => model.Radiologist)</span></td>
                <td><span class="report_fieldvalue_01">@Html.DisplayFor(model => model.getDoctorName)</span></td>

                <td><span class="report_fieldvalue_01">@Html.LabelFor(model => model.Sonographer)</span></td>
                <td><span class="report_fieldvalue_01">@Html.DisplayFor(model => model.getSonographerName)</span></td>
            </tr>

            <tr><td colspan="4"><div class="line_space"></div></td></tr>
            <tr><td colspan="4"><hr /></td></tr>
            <tr>
                <td><span class="report_fieldvalue_01">@Html.LabelFor(model => model.SignByDoctor)</span></td>
                <td><span class="report_fieldvalue_01">@Html.DisplayFor(model => model.getSignDefinition)</span></td>

                <td><span class="report_fieldvalue_01">@Html.LabelFor(model => model.DateSigned)</span></td>
                <td><span class="report_fieldvalue_01">@Html.DisplayFor(model => model.DateSigned)</span></td>
            </tr>

            <tr><td colspan="4"><span class="report_fieldvalue_01"><b>History:</b></span></td></tr>
            <tr><td colspan="4"><div class="line_space"></div></td></tr>
            <tr>
                <td colspan="4">
                    <textarea class="text_form_value" readonly style="width:100%" rows="3">@Html.DisplayFor(model => model.History)</textarea>
                </td>
            </tr>

            <tr><td colspan="4"><div class="div_space20"></div></td></tr>
            <tr>
                <td colspan="4"><span class="report_fieldvalue_01"><b>Diagnostic Report:</b></span></td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea class="text_form_value" readonly style="width:100%" rows="11">@Html.DisplayFor(model => model.ExamReport)</textarea>
                </td>
            </tr>
        </table>

        <div class="line_space"></div>
        <table class="table_clinic">
            <tr>
                <td>
                    @*1st image column --*@
                    <table class="table">
                        <tr><td><span class="permit_textpara">Image 1.</span> </td></tr>
                        <tr>
                            <td>
                                @if (ViewBag.imageFile01_Up)
                                {<img src="~/ExamImages/@ViewBag.imageFile01" class="scan_image" />}
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table class="table">
                        <tr><td><span class="permit_textpara">Image 2.</span> </td></tr>
                        <tr>
                            <td>
                                @if (ViewBag.imageFile02_Up)
                                {<img src="~/ExamImages/@ViewBag.imageFile02" class="scan_image" />}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    @*1st image column --*@
                    <table class="table">
                        <tr><td><span class="permit_textpara">Image 3.</span> </td></tr>
                        <tr>
                            <td>
                                @if (ViewBag.imageFile03_Up)
                                {<img src="~/ExamImages/@ViewBag.imageFile03" class="scan_image" />}
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table class="table">
                        <tr><td><span class="permit_textpara">Image 4.</span> </td></tr>
                        <tr>
                            <td>
                                @if (ViewBag.imageFile04_Up)
                                {<img src="~/ExamImages/@ViewBag.imageFile04" class="scan_image" />}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    @*1st image column --*@
                    <table class="table">
                        <tr><td><span class="permit_textpara">Image 5.</span> </td></tr>
                        <tr>
                            <td>
                                @if (ViewBag.imageFile05_Up)
                                {<img src="~/ExamImages/@ViewBag.imageFile05" class="scan_image" />}
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table class="table">
                        <tr><td><span class="permit_textpara">Image 6.</span> </td></tr>
                        <tr>
                            <td>
                                @if (ViewBag.imageFile06_Up)
                                {<img src="~/ExamImages/@ViewBag.imageFile06" class="scan_image" />}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    @*1st image column --*@
                    <table class="table">
                        <tr><td><span class="permit_textpara">Image 7.</span> </td></tr>
                        <tr>
                            <td>
                                @if (ViewBag.imageFile07_Up)
                                {<img src="~/ExamImages/@ViewBag.imageFile07" class="scan_image" />}
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table class="table">
                        <tr><td><span class="permit_textpara">Image 8.</span> </td></tr>
                        <tr>
                            <td>
                                @if (ViewBag.imageFile08_Up)
                                {<img src="~/ExamImages/@ViewBag.imageFile08" class="scan_image" />}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    @*1st image column --*@
                    <table class="table">
                        <tr><td><span class="permit_textpara">Image 9.</span> </td></tr>
                        <tr>
                            <td>
                                @if (ViewBag.imageFile09_Up)
                                {<img src="~/ExamImages/@ViewBag.imageFile09" class="scan_image" />}
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table class="table">
                        <tr><td><span class="permit_textpara">Image 10.</span> </td></tr>
                        <tr>
                            <td>
                                @if (ViewBag.imageFile10_Up)
                                {<img src="~/ExamImages/@ViewBag.imageFile10" class="scan_image" />}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div class="line_space"></div>
        <table class="table table-bordered">
        <tr>
            <td>
                <input type="button" value="Back To List" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "PatientExam") + "'");" />
                &nbsp;
                <input type="button" value="Print Report" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("PrintExamReport\\"+Model.Id, "PatientExam") + "'");" />
                &nbsp;
                <input type="button" value="Print Images" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("PrintExamImages\\"+Model.Id, "PatientExam") + "'");" />
            </td>
        </tr>
        </table>

    </div>

}  