@model IEnumerable<JEVEGA_Us_Cliniic.PatientExam>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<table class="table_clinic_pageheader">
    <tr>
        <td><h3>Patient Exams List | @ViewBag.DateList</h3></td>
        <td align="right">
            @{   
                if (Session["USER_TYPE"].ToString() == "1" || Session["USER_TYPE"].ToString() == "2")
                {
                    <a href=@Url.Action("Create", "PatientExam")><img src="~/images/add_icon.png" /></a>
                }
            }
            &nbsp;
        </td>
    </tr>
</table>
<div class="div_space20"></div>


<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.PatientID)</th>
        <th>@Html.DisplayNameFor(model => model.ExamId)</th>
        <th>@Html.DisplayNameFor(model => model.ExamType)</th>
        <th>@Html.DisplayNameFor(model => model.ExamDate)</th>
        @*<th>@Html.DisplayNameFor(model => model.Sonographer)</th>*@
        <th>@Html.DisplayNameFor(model => model.Radiologist)</th>
        <th>Images</th>
        <th>@Html.DisplayNameFor(model => model.SignByDoctor)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.getPatientName)</td>
        <td>@Html.DisplayFor(modelItem => item.ExamId)</td>
        <td>@Html.DisplayFor(modelItem => item.getExamName)</td>
        <td>@Html.DisplayFor(modelItem => item.ExamDate)</td>
        @*<td>@Html.DisplayFor(modelItem => item.getSonographerName)</td>*@
        <td>@Html.DisplayFor(modelItem => item.getDoctorName)</td>

        <td><span class="text_form_value">@item.IsExamImagesExist()</span></td>

        <td>
            @if (item.SignByDoctor == "Y")
            {<span class="text_form_value_ii">@Html.DisplayFor(modelItem => item.getSignDefinition)</span>}
        else
        { <span class="text_form_value">@Html.DisplayFor(modelItem => item.getSignDefinition)</span>}
        </td>

        <td>
            @if (Session["USER_TYPE"].ToString() == "1" || Session["USER_TYPE"].ToString() == "2")
            {
                <a href=@Url.Action("Edit", new { id = item.Id }) alt="Edit"><img src="~/images/edit_ico.png" /></a>

                <a href=@Url.Action("InitialReport", new { id = item.Id }) alt="Edit"><img src="~/images/report_initial.png" /></a>
            }
            - <a href=@Url.Action("Details", new { id = item.Id }) alt="Details"><img src="~/images/details_ico.png" /></a>
            - <a href=@Url.Action("ScanImages", new { id = item.Id }) alt="Details"><img src="~/images/scan_images_icon.png" /></a>
            - <a href=@Url.Action("SignMedicalReport", new { id = item.Id }) alt="Sign Report"><img src="~/images/sign_doc_ico.png" /></a>
        </td>
    </tr>
    }

</table>

@using (Html.BeginForm())
{

<table class="table table-bordered">
<tr>
    <td nowrap="nowrap">
        @Html.DropDownList("ListOfMonths", (List<SelectListItem>)ViewBag.MonthsList, "- Select an Month -", new { @class = "form-control" })
    </td>
    <td>
        @Html.DropDownList("ListOfYears", (List<SelectListItem>)ViewBag.YearsList, "- Select a Year -", new { @class = "form-control" })
    </td>
    <td>
        <input type="submit" value="Filter by Month/Year" class="btn btn-default" />
    </td>
    <td>
        <input type="button" value="Show Monthly Sales" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("MonthlySales", "PatientExam", new { mo=ViewBag.SelectedMonth, yr=ViewBag.SelectedYear }) + "'");" />
    </td>
</tr>
</table>


<div class="div_space20"></div>

}
