@model IEnumerable<JEVEGA_Us_Cliniic.PatientExam>

@{
    ViewBag.Title = "PrintDoctorsPF";
    Layout = "~/Views/Shared/Layout_print_report.cshtml";
}

<div class="div_space20"></div>

<table class="table_clinic_pageheader">
    <tr>
        <td><h3>Doctor's Professional Fee | @ViewBag.ReportDate</h3></td>
        <td align="right"></td>
    </tr>
</table>
<div class="div_space20"></div>

<table class="table table-striped">
    <tr>
        <td><span class="text_form_value">@Html.DisplayNameFor(model => model.PatientID)</span></td>
        <td><span class="text_form_value">@Html.DisplayNameFor(model => model.ExamId)</span></td>
        <td><span class="text_form_value">@Html.DisplayNameFor(model => model.ExamType)</span></td>
        <td><span class="text_form_value">@Html.DisplayNameFor(model => model.ExamDate)</span></td>

        <td align="right"><span class="text_form_value">Price</span></td>
        <td align="right"><span class="text_form_value">Doctor's PF</span></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.getPatientName)</td>
            <td>@Html.DisplayFor(modelItem => item.ExamId)</td>
            <td>@Html.DisplayFor(modelItem => item.getExamName)</td>
            <td>@Html.DisplayFor(modelItem => item.ExamDate)</td>
            <td align="right">@Html.DisplayFor(modelItem => item.getDoctorsExamPrice)</td>
            <td align="right">@Html.DisplayFor(modelItem => item.getDoctorsPF)</td>
        </tr>
    }

    <tr>
        <td colspan="4"><span class="text_form_value">TOTAL :</span></td>
        <td align="right"><span class="text_form_value">Total Amount : @ViewBag.TotalSalesAmount</span></td>
        <td align="right"><span class="text_form_value">Total PF : @ViewBag.TotalDoctorsPF</span></td>
    </tr>

</table>
