@model JEVEGA_Us_Cliniic.PatientExam

@{
    ViewBag.Title = "PrintExamImages";
    Layout = "~/Views/Shared/Layout_print_image.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

<div>

    <table class="table_clinic">
        <tr><td colspan="4"><div class="line_space"></div></td></tr>
        <tr>
            <td><span class="report_fieldvalue_01">@Html.LabelFor(model => model.ExamDate)</span></td>
            <td colspan="3">
                <span class="report_fieldvalue_01">@Html.DisplayFor(model => model.formattedExamDate)</span>
            </td>
        </tr>
        <tr><td colspan="4"><div class="line_space"></div></td></tr>
        <tr>
            <td><span class="report_fieldvalue_01">@Html.LabelFor(model => model.PatientID)</span></td>
            <td><span class="report_fieldvalue_01">@Html.DisplayFor(model => model.getPatientIdName)</span></td>

            <td><span class="report_fieldvalue_01">@Html.LabelFor(model => model.ExamType)</span></td>
            <td><span class="report_fieldvalue_01">@Html.DisplayFor(model => model.getExamName)</span></td>
        </tr>

        <tr><td colspan="4"><div class="line_space"></div></td></tr>
    </table>

    <div class="line_space"></div>
    @{ 
        string[] examSelectedImages = ViewBag.ExamImageList;
        int exam_img_count = ViewBag.ExamImageCount;
    }
    <table class="table_clinic">

        <tr>
            <td>
                @if (examSelectedImages[0] != null)
                {
                    <table class="table">
                        <tr>
                            <td><img src="~/ExamImages/@examSelectedImages[0]" class="scan_image" /></td>
                        </tr>
                    </table>
                }
            </td>
            <td>
                @if (examSelectedImages[1] != null)
                {
                    <table class="table">
                        <tr>
                            <td><img src="~/ExamImages/@examSelectedImages[1]" class="scan_image" /></td>
                        </tr>
                    </table>
                }
            </td>
        </tr>

        <tr>
            <td>
                @if (examSelectedImages[2] != null)
                {
                    <table class="table">
                        <tr>
                            <td><img src="~/ExamImages/@examSelectedImages[2]" class="scan_image" /></td>
                        </tr>
                    </table>
                }
            </td>
            <td>
                @if (examSelectedImages[3] != null)
                {
                    <table class="table">
                        <tr>
                            <td><img src="~/ExamImages/@examSelectedImages[3]" class="scan_image" /></td>
                        </tr>
                    </table>
                }
            </td>
        </tr>

        <tr>
            <td>
                @if (examSelectedImages[4] != null)
                {
                    <table class="table">
                        <tr>
                            <td><img src="~/ExamImages/@examSelectedImages[4]" class="scan_image" /></td>
                        </tr>
                    </table>
                }
            </td>
            <td>
                @if (examSelectedImages[5] != null)
                {
                    <table class="table">
                        <tr>
                            <td><img src="~/ExamImages/@examSelectedImages[5]" class="scan_image" /></td>
                        </tr>
                    </table>
                }
            </td>
        </tr>

        <tr>
            <td>
                @if (examSelectedImages[6] != null)
                {
                    <table class="table">
                        <tr><td><img src="~/ExamImages/@examSelectedImages[6]" class="scan_image" /></td></tr>
                    </table>
                }
            </td>
            <td>
                @if (examSelectedImages[7] != null)
                {
                    <table class="table">
                        <tr><td><img src="~/ExamImages/@examSelectedImages[7]" class="scan_image" /></td></tr>
                    </table>
                }
            </td>
        </tr>

        <tr>
            <td>
                @if (examSelectedImages[8] != null)
                {
                    <table class="table">
                        <tr><td><img src="~/ExamImages/@examSelectedImages[8]" class="scan_image" /></td></tr>
                    </table>
                }
            </td>
            <td>
                @if (examSelectedImages[9] != null)
                {
                    <table class="table">
                        <tr><td><img src="~/ExamImages/@examSelectedImages[9]" class="scan_image" /></td></tr>
                    </table>
                }
            </td>
        </tr>


    </table>

</div>

} 