@model JEVEGA_Us_Cliniic.PatientExam

@{
    ViewBag.Title = "PrintExamReport";
    Layout = "~/Views/Shared/Layout_print_report.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div class="div_space20"></div>
        <div>
            <span class="report_fieldvalue_01">Diagnostic Report</span>
        </div>

        <div style="float:right">
            <span class="report_text2">Report Date : @Html.DisplayFor(model => model.formattedExamDate)</span>
        </div>

        <div class="div_space20"></div>
        <table class="table-bordered table_clinic">
            <tr>
                <td style="width:140px;"><span class="report_text1" style="padding:7px;">Patient Name:</span></td>
                <td colspan="2"><span class="report_text1">@Html.DisplayFor(model => model.getPatientName)</span></td>
                <td style="width:140px;">
                    <div style="padding:7px;"><span class="report_text1">Exam Id:</span></div>
                </td>
                <td><span class="report_text1">@Html.DisplayFor(model => model.ExamId)</span></td>
            </tr>

            <tr>
                <td><div style="padding:7px;"><span class="print_label">Sex:</span></div></td>
                <td><span class="print_value">@ViewBag.PatientSex</span></td>
                <td><span class="print_label" style="padding:7px;">Age:&nbsp;&nbsp;@ViewBag.Age</span></td>
                <td><span class="print_label" style="padding:7px;">Marital Status:</span></td>
                <td><span class="print_value">@ViewBag.Status</span></td>
            </tr>
        </table>


        <div class="div_space20"></div>
        <div><span class="report_text1">History</span></div>
        <div class="line_space"></div>
        <div class="line_space"></div>

        <table class="table-bordered table_clinic">
            <tr>
                <td style="vertical-align:top;">
                    <div class="div_textarea">
                        <textarea class="textarea_exam_history" readonly >@Html.DisplayFor(model => model.History)</textarea>
                    </div>
                </td>
            </tr>
        </table>

        <div class="div_space20"></div>
        <div><span class="report_text1">Exam : @Html.DisplayFor(model => model.getExamName)</span></div>
        <div class="line_space"></div>
        <div class="line_space"></div>

        <table class="table-bordered table_clinic" style="height:120px;">
            <tr>
                <td style="vertical-align:top;">
                    <div class="div_textarea">
                        <textarea class="textarea_exam_report" readonly >@ViewBag.ExamReport</textarea>
                    </div>
                </td>
            </tr>
        </table>

        <div class="div_space20"></div>
        <div class="div_space20"></div>
        <div class="div_space20"></div>
        <div class="div_space20"></div>

        <div>
            <table class="table_clinic">
                <tr>
                    <td><img src="~/ClinicStaff/sign-1.jpg" style="width:200px;" /></td>
                </tr>
                <tr><td><div class="line_space"></div></td></tr>
                <tr>
                    <td>
                        <span class="report_text2">Report by: Dr. @Html.DisplayFor(model => model.getDoctorFistLastName) - @Html.DisplayFor(model => model.getDoctorPostTitle)</span><br />
                        <span class="report_text2">PRC License No. : @Html.DisplayFor(model => model.getDoctorPRCLicenseNo)</span>
                    </td>
                </tr>
            </table>
        </div>

    </div>

}
