@model JEVEGA_Us_Cliniic.ExamReportTemplate

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<table class="table_clinic_pageheader">
    <tr>
        <td><h3>New Report Template</h3></td>
        <td align="right"></td>
    </tr>
</table>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ReportCategory, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ReportCategory, (SelectList)ViewBag.ReportCategories, "- Select a Report Category -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ReportCategory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReportName, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.ReportName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReportName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReportWriteUps, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ReportWriteUps, new { @class = "textarea_report_template", rows = "3" })
                @Html.ValidationMessageFor(model => model.ReportWriteUps, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="line_space"></div>
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="submit" value="Add Report Template" class="btn btn-default" />
                    &nbsp;
                    <input type="button" value="Cancel" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "ReportTemplates") + "'");" />
                </td>
            </tr>
        </table>

    </div>
}