@model IEnumerable<JEVEGA_Us_Cliniic.RadiologistDoctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<table class="table_clinic_pageheader" @*style="background-color:aliceblue; width:100%"*@>
<tr>
    <td><h3>Radiology Doctors</h3></td>
    <td align="right">
        @{
            if (Session["USER_TYPE"].ToString() == "1" || Session["USER_TYPE"].ToString() == "2")
            {
                <a href=@Url.Action("Create", "RadDoctor")><img src="~/images/add_icon.png" /></a>
            }
        }
    </td>
</tr>
</table>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.PostTitle)</th>
        <th>@Html.DisplayNameFor(model => model.PrcLicenseNo)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
        <td>@Html.DisplayFor(modelItem => item.PostTitle)</td>
        <td>@Html.DisplayFor(modelItem => item.PrcLicenseNo)</td>

        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>

        <td>
            @if (Session["USER_TYPE"].ToString() == "1" || Session["USER_TYPE"].ToString() == "2")
            {
                <a href=@Url.Action("Edit", new { id = item.Id }) alt="Edit"><img src="~/images/edit_ico.png" /></a>
            }
            - <a href=@Url.Action("Details", new { id = item.Id }) alt="Details"><img src="~/images/details_ico.png" />
        </td>
    </tr>
}

</table>
