@model JEVEGA_Us_Cliniic.Models.ExamVideo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<table class="table_clinic_pageheader">
    <tr>
        <td><h3>Video Details</h3></td>
        <td align="right"></td>
    </tr>
</table>

<div>
    <hr />
    <table class="">
        <tr>
            <td><span class="table_field_value">Patient Name / Exam No. : </span></td>
        </tr>
        <tr>
            <td><h4>@Html.DisplayFor(model => model.getPatientName) / @Html.DisplayFor(model => model.Patient_ExamId)</h4></td>
        </tr>

        <tr>
            <td><span class="table_field_value">@Html.DisplayNameFor(model => model.VideoName) : </span></td>
        </tr>
        <tr>
            <td><h4>@Html.DisplayFor(model => model.VideoName)</h4></td>
        </tr>

        <tr>
            <td><span class="error_message_ii">Click on the icon below to download video ... </span></td>
        </tr>
        <tr>
            <td><div class="line_space"></div></td>
        </tr>

        <tr>
            <td>
                <a href="~/ClinicVideo/@Model.VideoFilename"><img src="~/images/VideoLink_icon.png" class="img-responsive" border="0" /></a>
            </td>
        </tr>

    </table>

</div>


<div class="line_space"></div>
<table class="table table-bordered">
<tr>
    <td>
        <input type="button" value="Back To List" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "ExamVideo") + "'");" />
        &nbsp;
        <input type="button" value="Send to Patient" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("SendVideoToPatient/"+Model.Id, "ExamVideo") + "'");" />
    </td>
</tr>
</table>
