@model JEVEGA_Us_Cliniic.Sonographer

@{
    ViewBag.Title = "ProfilePic";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<table class="table_clinic_pageheader">
<tr>
    <td><h3>Profile Picture of Sonographer</h3></td>
    <td align="right"></td>
</tr>
</table>

@using (Html.BeginForm("UploadSonoProfilePic", "Sonographers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <h4>Sonographer :  @Html.DisplayFor(model => model.GetFullname)</h4>

    <div class="line_space"></div>
    <div class="line_space"></div>

        
    <table class="table-responsive">
    <tr>
        <td>
            @Html.LabelFor(model => model.ProfilePic, htmlAttributes: new { @class = "control-label" })
        </td>
    </tr>

    <tr>
        <td><div class="line_space"></div></td>
    </tr>
    <tr>
        <td><div class="line_space"></div></td>
    </tr>

    <tr>
        <td>
            @if (ViewBag.imageProfilePic_Up)
            {<img src="~/ClinicStaff/@ViewBag.imageProfilePic" class="profile_pic" />}
        </td>
    </tr>
    <tr><td><input type="file" name="filePic" id="filePic" /></td></tr>
    </table>


    <div class="line_space"></div>
    <table class="table table-bordered">
    <tr>
        <td>
            <input type="submit" value="Upload" class="btn btn-default" />
            &nbsp;
            <input type="button" value="Cancel" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Sonographers") + "'");" />
        </td>
    </tr>
    </table>

</div>
}

