@model JEVEGA_Us_Cliniic.DiagnosticExam

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DiagnosticExam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
